{% extends 'basic_view.html' %}

{% block head %}
    <title>FAQ</title>
{% endblock %}

{% block heading %}
    <h2 class="text-center">Информационная страница</h2>
    <hr>
{% endblock %}

{% block content %}
    <p>Создателем данного веб-приложения является <a href="https://github.com/bbfallen20">BBFallen</a>. Автор создал
    это приложение в ознакомительно-обучательных целях. На сайте будут размещаться статьи а так же интересные книги
    на разные таематики. Любой желающий может записаться в ряды администраторов сайта, пройдя ряд проверок.
    Под "Администрацией" имеется ввиду контент-мейкер сайта - человек который будет добавлять книги и статьи на сайт,
    если посчитает их интересными посетителям. Связаться с главным администратором можно по почте: blackbloodfallenpro@gmail.com</p>
    <p class="text-center">Правила заполнения заявки:</p>
    <ol>
        <li>ФИО</li>
        <li>Тематика работы(программирование, кулинария и т.п.)</li>
        <li>Знания по выбранной тематике</li>
        <li>Контактный телефон</li>
        <li>Контактный адрес эл.почты</li>
        <li>Возраст</li>
    </ol>
    <p class="text-center"><strong>Все заявки рассматриваются в порядке очереди! Ответим всем!</strong></p>
{% endblock %}